.about-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    width:100%;
    height: 100vh;
}
.about-container .about-title {
    margin-bottom: 8vh;
}
.about-title {
    font-weight:600;
}

.about-container .about-image {
    margin-bottom: 4vh;
}

.about-image {
    background: url('../../assets/images/shankar-kruthiventi.jpg');
    background-size: 100% 100%;
    width: 70%;
    height: 30%;
}

.about-desc {
    padding:0 6vw;
    text-align: center;
    color: gray;
}

.about-container .about-desc {
    margin-bottom: 2vh;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding:0 6vw;
    margin-bottom: 8vh;
}

.about-col {
    text-align: center;
    font-weight: 600;
    word-break: break-word;
}

.about-col :nth-child(1) {
    font-size: 22px;
    font-weight: 600;
    color: var(--theme-button-color);
}

.about-col :nth-child(2) {
    font-size: 14px;
}

.about-resume-button {
    margin-bottom: 4vh;
}

.resume-button {
    color: #ffffff;
    background-color: var(--theme-button-color);
    width: 60vw;
    height: 10vh;
    border: none;
    font-size: 18px;
    border-radius: 10px;

}

.resume-button:active {
    zoom: 0.90;
}