.light {
    --theme-color: #A80000;
    --theme-page-background: #ffffff;
    --theme-page-text: #111;
    --theme-button-color: #705EDC;
}

.dark {
    --theme-color: #0000A8;
    --theme-page-background: #1A1525;
    --theme-page-text: #FFF;
    --theme-button-color: #705EDC;
}