.portfolio {
    padding: 10vh 2vw 0;
    height:100%;
  }

  @media only screen and (min-width:768px) and (max-width: 1024px) { 
    .portfolio {
        width: 90vw;
        padding: 10vh auto 0;
        margin: 0 auto;
    }
  }

  @media only screen and (min-width:1025px) { 
    .portfolio {
        width: 88vw;
        padding: 10vh auto 0;
        margin: 0 auto;
    }
  }

