.portfolio {
    padding: 10vh 2vw 0;
    height:100%;
  }

  #landscape {
    width: 100vw;
    height: 100vh;
    display: none;
    font-size: 24px;
  }

  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (orientation:landscape) and (max-width: 1024px) {
    #potrait{ display:none; }
    #landscape{ display:block; }
  }
  @media only screen and (orientation:portrait) and (max-width: 1024px) {
    #potrait{ display:block; }
    #landscape{ display:none; }
  }

  @media only screen and (min-width:768px) and (max-width: 1024px) { 
    .portfolio {
        width: 90vw;
        padding: 10vh auto 0;
        margin: 0 auto;
    }
  }

  @media only screen and (min-width:1025px) { 
    .portfolio {
        width: 88vw;
        padding: 0;
        margin: 0 auto;
    }
  }
