.navbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2% 3%;
    box-sizing: border-box;
    background: var(--theme-page-background);
    color: var(--theme-page-text);
    border-top: 1px solid var(--theme-page-text);
    border-radius: 40px;
}

.float_left {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
}

.float_right {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 5%;
}
.menu {
    display: none;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100vw;
    grid-template-rows: 100px 100px;
    grid-template-columns: repeat(3, 33.33%);
    z-index: 999;
    background: var(--theme-page-background);
    border-top: 1px solid var(--theme-page-text);
    border-radius: 40px;
}

.menu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width:120px;
    min-height: 100px;
    text-decoration: none;
    color: var(--theme-page-text);
}

.navbar {
    z-index: -1;
    position: relative;
}
.fa-home, .fa-user-alt, .fa-file, .fa-briefcase, .fa-images, .fa-address-card {
    display: block;
    font-size: 16px;
    color: var(--theme-button-color);
}

@media only screen and (min-width: 700px) {
    .navbar-container {
        display: none;
    }
}