.navbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2% 3%;
    box-sizing: border-box;
    background: var(--theme-page-background);
    color: var(--theme-page-text);
    border-top: 1px solid var(--theme-page-text);
    z-index: 999999;
}

.float_left {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
}

.float_right {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.menu {
    display: grid;
    position: absolute;
    bottom: 0;
    left:0;
    grid-template-rows: 100px 100px;
    grid-template-columns: repeat(3, 33.33%);
    z-index: 999;
}

.menu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    z-index: 99;
}
.fa-home {
    display: block;
    font-size: 16px;
}

@media only screen and (min-width: 700px) {
    .navbar-container {
        display: none;
    }
}